[2018-08-13 14:27] md2manoppello opened #3 "KB configuration issue"
Jenkins builds KB service platform at http://ci5.castalia.camp:8080/job/scava-knowledgebase/lastSuccessfulBuild/artifact/knowledge-base/org.eclipse.scava.knowledgebase/target/scava.knoledgebase.jar .
KB testing step needs that ```spring.data.mongodb.host``` has ```localhost``` value in ```applicacation.properties```.
Instead, docker kb image needs to set this parameter as ```KB-db```.
@MarcioMateu

[2018-08-13 14:32] md2manoppello commented on #3
@MarcioMateus, @tdegueul  Could we automate KB build for docker image?

[2018-08-13 14:38] MarcioMateus commented on #3
This change was introduced in commit 8fb7d0c4edc757d8de2144488814a92a80176f50

To KB docker image downloads the jar built by Jenkins (configured for the `localhost`) and updates the `application.properties` to connect to the `KB-db`.

I did some small tests, but I would be great id you could do a more extensive testing.

[2018-08-13 14:45] tdegueul commented on #3
Regarding the automatic generation of Docker images from the CI builds, the images are now (automatically?) pushed to https://hub.docker.com/u/crossminer/; @borisbaldassari took care of that. I don't know how this is realized though, as I haven't seen anything new on the CI server.

[2018-08-13 15:40] md2manoppello commented on #3
Thank you!
Can we close this issue?

[2018-08-13 15:47] MarcioMateus commented on #3
Yes, I think that the main question is already addressed.

[2018-08-13 15:47] #3 closed

[2018-08-21 14:25] md2manoppello opened #4 "restarting the host causes the scava-deployment_oss-web application to fail to start in its container because RUNNING_PID had not been deleted."
Do you recognize the same issue on restarting oss-web docker container?
A possible solution is described at
https://stackoverflow.com/questions/28351405/restarting-play-application-docker-container-results-in-this-application-is-alr

[2018-09-21 08:12] acs opened #12 "dashb-importer must wait for elasticsearch"
Right now before starting the dashb-importer  it waits for oss-app.

https://github.com/crossminer/scava-deployment/blob/dashboards/docker-compose.yml#L135

It must also wait for elasticsearch for importing the data from Scava to Elasticsearch

[2018-09-26 19:12] MarcioMateus commented on #12
@acs please validate if commit 71c8c31d1dcff4bbababa6ce460209238b838dd6 solves this bug

[2018-09-27 08:08] acs commented on #12
Comment added to the commit. Probably that commit fixes the problem. But let me test it to be sure. Once I have tested it I will report it here and if it is fixed, I will close this issue.

Thanks @MarcioMateus !

[2018-10-01 15:57] acs commented on #12
I confirm that in a deployment from scratch all has worked as expected so https://github.com/crossminer/scava-deployment/commit/71c8c31d1dcff4bbababa6ce460209238b838dd6  has fixed this issue. Thanks @MarcioMateus

[2018-10-01 15:57] #12 closed

[2018-10-15 14:09] mhow2 opened #13 "installation is ok but no credentials to sign in"
Hi,
I've been able to start the instance with docker-compose and the yml file provided in the dev branch, and access the service from localhost:9000.
Now, I need some kind of account I guess ? I followed the invitation process and provided my email : do I need to wait for an answer ?

[2018-10-15 14:14] tdegueul commented on #13
Hi @mhow2,

The Docker setup normally comes with a database dump that contains a default user:

login: demo@crossminer.org
pwd: crossminer

Please let me know if it works for you.

[2018-10-15 14:43] mhow2 commented on #4
I second the above:

[code]

I tried deleted the 'web' container and ran `docker-compose up` again with no much success.
However, I can get it back on track by deleting/restart all containers.

[2018-10-15 14:49] MarcioMateus commented on #4
This is strange for me. At least I don't remember ever seeing it.

Can you give more information about the steps to replicate it? For instance, how did you delete or stop the 'oss-web' container?

[2018-11-05 10:19] mhow2 commented on #13
hi @tdegueul ,
I tried the docker setup this morning (git pull & started the one at `docker-compose-dockerhub.yml`), and I'm unable to log in with the credentials you provided above.

[2018-11-15 09:00] mhow2 commented on #13
Hi @MarcioMateus , I did follow the steps described in https://github.com/crossminer/scava-deployment/blob/add-api-gateway/README.md. I deployed on a remote server. I did updated the hosts file on the remote server. I had to slightly modify `port` in the `admin-webapp` service to expose another port than 80 (ie: `"8011:80"`) because 80 was already taken on this system. Then I get this :  http://sa

[2018-11-15 09:53] mhow2 commented on #13
Also tried to
- update `auth/application.properties` reflecting the public port with (8011) no success
- freeing port 80 on this server and restart the containers from scratch with defaults values - no success
I must miss something.

[2018-11-15 12:54] MarcioMateus commented on #13
Hi @mhow2 ,
I never tested the access to the admin from a remote location.
I confirm the I am also unable to authenticate as I receive a "Bad credentials!" message.
However, it seems that @borisbaldassari was able to do some work around as its setup is working (http://ci4.castalia.camp:8000/login).
@borisbaldassari , did you do any modification to the configuration?

[2018-11-16 09:40] mhow2 commented on #13
I'm able to sign in with a local installation even without modifying the `hosts` file.

[2018-11-16 09:52] MarcioMateus commented on #13
@mhow2 Yes, the change to the hosts was to address a issues where I was unable to import new projects.

[2018-11-16 10:01] mhow2 commented on #13
@MarcioMateus : I see. I was unable to import a new project by URL too (why I click the button to submit it remains greyed out), however creation is OK.

In the end, should I understand the hosts file trick has nothing to do with our "bad credentials" issue ?

When you said earlier:

Were you relating the installation at castalia ?

[2018-11-16 12:03] borisbaldassari commented on #13
Hiho,
@MarcioMateus  Late answer: no, I didn't change anything to the base configuration. Apart from changing the hosts file on my host I mean.

[2018-11-19 11:18] mhow2 commented on #13
@ambpro : I identified an issue specific to my setup : default permissions for newly created file on our systems (here, the docker host) is 640 for files. So my local files pulled from git are 640, then it's added with the same permissions to the container's filesystem : In the end nginx wasn't able to read `externalConfig.json`.

It was then easy to `chmod o+r` the file and rebuild the container.

[2018-11-19 11:18] #13 closed

[2018-11-23 11:04] mhow2 commented on #4
I can't reproduce in the current deployment shipped at branch `dashboard-plus-admin`.

[2018-11-23 11:04] #4 closed

[2018-11-29 08:19] mhow2 opened #17 "grimoirelab/kidash dependency issue"
Hi,
I'm opening this issue but it's already fixed and merged by #16
For the record, my initial report on Slack was:

[2018-11-29 08:19] mhow2 commented on #17
Fixed

[2018-11-29 08:19] #17 closed

[2018-11-29 08:30] mhow2 opened #18 "missing web dashboards"
It seems we miss some dashboards with the current scava deployment.
We only get `scavaProject` in the list from kibiter UI / dashboard
In addition, we're facing the follow error (which could be related):

[code]

[2018-11-30 11:17] MarcioMateus opened #19 "Auth-server does not restart correctly"
@mhow2 said "hi. It seems there is an issue with the auth-server container, when you stop/start the containers stack (`docker-compose -f... up` then Ctrl+C to stop then `docker-compose -f... up` again ), auth-server isn't able to reach mongodb. If you remove the containers completely and restart from scratch it seems to works (`docker-compose -f ... down`, then `up`)"

The visible effect of the ab

[2018-11-30 15:40] valeriocos commented on #18
The error you report isn't related to the missing dashboards (I'll submit a PR to upload the other dashboards soon), but to an item (see below) extracted from the SCAVA API without execution time information. In particular, the attribute `lastExecuted` in `executionInformation` is missing, such a field (commonly present in other items) is needed by Perceval to process the data.

[code]

[2018-12-03 17:11] tdegueul commented on #18
Can confirm I have the same issue locally. Could Perceval be updated to continue gracefully when `lastExecuted` is missing?

[2018-12-03 19:44] borisbaldassari commented on #19
Hey. I have the same problem even after a down I believe...
http://ci4.castalia.camp:5601/login

[2018-12-04 08:10] valeriocos commented on #18
Hi @tdegueul I have submitted a PR to SCAVA: https://github.com/crossminer/scava/pull/66. It includes the fix for the Perceval backend and other changes to scava2es. If you want, I can split the PR in two.

[2018-12-13 09:24] mhow2 opened #24 "ProSoul : model viewer is not visible"
the model viewer is not visible at  http://ci4.castalia.camp:8000/prosoul/viewer and http://wacke.ow2.org:8000/prosoul/viewer
If you look at the network requests/responses from the dev pane, you'll see some 404's.

[2018-12-13 10:41] mhow2 opened #25 "scava2es.py is invoked in debug mode"
In the file at https://github.com/crossminer/scava-deployment/blob/dashboard-plus-admin/dashboard/importer-scava-metrics.sh , we have the `-g` flag. It tends to fill up the disk with gigs of logs.
And it might have an impact in the platform performance overall.

[2018-12-14 10:17] mhow2 opened #26 "acessing various services by name instead of port"
As mentioned in [this thread](https://www.eclipse.org/lists/scava-dev/msg00042.html), at some point it would be nice if we provide a normalized way to access the various services by context instead of ports:

Admin UI - https://instance.ltd/admin
Prosoul - https://instance.ltd/prosoul
APIs - https://instance.ltd/api

Might be implemented as a reverse proxy config...

[2018-12-14 10:41] mhow2 commented on #26
@davidediruscio : here I'm talking about all the public URLs, not especially the APIs which is another layer (to me) : because we would like to have everything served on a single public port, including APIs **and** various web UIs

We could have https://instance.ltd/api mapped to the API Gateway, then the API Gateway would be able to route https://instance.ltd/api/administration to route to the go

[2018-12-14 12:39] valeriocos commented on #24
The PR https://github.com/Bitergia/prosoul/pull/90 should fix this bug. A docker image is already available with the fix.
Please @mhow2 @borisbaldassari let me know if the error is gone

[2018-12-14 13:29] mhow2 opened #27 "prosoul : 404's on some image resources"
`prosoul.svg` and `favicon.ico` still lead to 404. You can observe this from the dev pane.

[2018-12-14 13:30] mhow2 commented on #24
Gone for me. Opened #27 for other resources missing.

[2018-12-16 15:33] #18 closed

[2018-12-16 16:30] valeriocos commented on #27
Fixed with https://github.com/Bitergia/prosoul/pull/91
Please, @mhow2 confirm the error is gone.
Thank you

[2018-12-17 21:36] MarcioMateus commented on #19
After some tests I realised that this behaviour was caused by restarting problem on oss-db.

I create a new branch to fix problem:
https://github.com/crossminer/scava-deployment/tree/fix-oss-db-restart

You can test the latest commit 7554c56

Notice that I reduced the amount of messages produced, so the output is different from the usual.

The startup of the machine is still taking a lot of time.

[2018-12-19 15:33] borisbaldassari commented on #24
Fixed for me. Thanks @valeriocos !

[2018-12-19 15:33] #24 closed

[2018-12-20 07:36] borisbaldassari commented on #19
Fixed on my side! :-)
Thanks @MarcioMateus !

[2018-12-20 08:12] mhow2 commented on #19
Looks ok for me too ! I suggest we merge.

[2018-12-21 11:46] MarcioMateus commented on #19
Fixed on 98065d31d2aef8ea7bd4d632faf7df1b25e85517

[2018-12-21 11:46] #19 closed

[2018-12-22 17:35] borisbaldassari opened #31 "Authentication problem on web-admin"
On ci4 I re-pulled and re-built everything, pruned everything I could, and I still have the failed auth issue in the web admin part. As indicated in the readme I've updated the web-admin Dockerfile:
[code]
I checked that port 8086 is the one provided by the `api-server` service.
Please not it is *not* a up/down/up issue since this is the first run of these containers. Also, the fix provided for th

[2018-12-28 14:49] borisbaldassari opened #32 "Container dashb-importer indefinitely grows in size"
After 5-6 days running the docker compose file, the `dashb-importer` on ci4 is taking 244GB of disk.
It appears that the log file in the container is indefinitely growing and takes all the disk available on the host, thus crashing the entire system.

[code]

[2019-01-30 10:23] mhow2 commented on #27
Confirmed.

[2019-01-30 10:23] #27 closed

[2019-02-01 13:28] MarcioMateus opened #34 "Add support to run multiple workers"
Docker compose should support setup and launch of multiple workers to speed up analysis and enable a better usage of resources (CPUs).

[2019-02-03 12:38] borisbaldassari commented on #31
After launching the docker images, one has to wait for some time before trying to log in the admin webapp, the time for the corresponding docker image to finish its initialisation. This time needs to be estimated and documented.

[2019-02-03 12:41] borisbaldassari commented on #32
I cannot reproduce this behaviour anymore. Problem has been observed twice during last December, seems to be resolved since early January.

[2019-02-03 12:41] #32 closed

[2019-02-03 13:22] borisbaldassari opened #35 "Set a name for scava docker volumes"
When administering scava dockers images, one needs to know what each volume deployed for the stack does. As of now they are given random names, which doesn't allow to identify them.

![capture du 2019-02-03 14-21-30](https://user-images.githubusercontent.com/5849071/52177300-0fdeb080-27bf-11e9-8fc0-3ea591370a36.png)

[2019-02-13 17:27] borisbaldassari opened #36 "Set retention policy in Jenkins to keep only 10 last builds"
This has to be changed at the Jenkinsfile level, with keyword `buildDiscarder`.
Do it for all jobs.

[2019-02-13 17:28] borisbaldassari commented on #36
See: https://support.cloudbees.com/hc/en-us/articles/115000237071-How-do-I-set-discard-old-builds-for-a-Multi-Branch-Pipeline-Job-

[2019-02-20 11:43] borisbaldassari commented on #36
Moved to scava repository.

[2019-02-20 11:43] #36 closed

[2019-02-25 09:37] mhow2 commented on #31
Or consider others options :
- a kind of "_waiting for auth service to come up_" message within the admin-UI.
- make the `admin-webapp` container to wait for the complete auth-server availability before starting up.

[2019-02-26 18:17] borisbaldassari commented on #35
This implies to enable volumes in the docker-compose file, which helps for the administration and maintenance of a scava instance (@mhow2). It also allows users to keep their data when upgrading, and provides an easy way to backup the db..

Funnily enough when decommenting the default volume command it creates two shared dirs in the home of the user, but one of them seems to be empty..
[code]

[2019-02-28 09:24] davidediruscio opened #40 "Remove branches that are outdated and no longer under development"

[2019-03-06 09:15] borisbaldassari opened #41 "Clarify requirements for Prosoul"
We need to define what is the exact scope of Prosoul in Scava.. Here is my guess, please feel free to amend/correct/comment.

* Prosoul can be used to define and describe the quality model and its associated quality attributes (e.g. maintainability, reliability, activity, ...).
* Prosoul can be used to list the metrics available from the Scava analysis.
* Prosoul can compute a given quality model

[2019-03-06 09:16] borisbaldassari commented on #41
@davidediruscio @valeriocos please let me know if we are aligned here. Thanks!

[2019-03-06 09:45] borisbaldassari opened #42 "Specify requirements for scava dashboards"
Here are a couple of requirements that we need in order to fulfil our Use Case.
We shall have a dedicated page for each defined project, easily accessible from the home page.

For each project, we shall have:

* A block showing some of the main quality attributes (to be defined, see issue about prosoul).
* A block showing the following information about activity:
  - In the SCM repository (e.g. hi

[2019-03-06 09:48] valeriocos commented on #42
thank you @borisbaldassari , @mhow2 are you fine with these requirements or you would like to include more?

[2019-03-06 10:55] borisbaldassari commented on #42
Hi @valcos I still need to update the XXX's and upload a drawing of what it could look like. But as far as I'm concerned this should be enough.

[2019-03-06 11:11] mhow2 commented on #42
Well, thank you Boris, Valerio it looks pretty good to me. I have some remarks:
- Are the dashboards expected to show up something from factoids ?
- It misses the average sentiment in bugtracker(s)
- "history of commits over the last 3 months" doesn't tell if we are asking for a number of commits, or the list of all commit titles (strings). Maybe the drawing will tell this better.

In addition, no

[2019-03-06 15:04] davidediruscio commented on #41
Hi Boris,

my comments in line below.

from the metric platfform is needed to define quality attributes while
creating/editing quality models. However, creating and showing such a list
is not among the main functionalities of Prosoul. Isn't?

feasability.

feasability.

feasable. @Valerio <valcos@bitergia.com> isn't?

values.

--
--------------------------------------------------------------------

[2019-03-07 09:50] borisbaldassari commented on #31
@davidediruscio Would you have any suggestion regarding Martin's proposal? Should we simply update the doc (stating an unknown delay), display a message or make the container wait?

[2019-03-07 10:13] borisbaldassari commented on #41
Hi @davidediruscio ,
Answering the 2 remaining questions:
* Displaying the retrieved metrics is required to build the quality model from these, as you mention. If it could also be used to get a list of all the metrics available that could be useful too for the documentation (right now the only complete definition of metrics we have is in JSON format through /metrics and /raw/metrics). The second p

[2019-03-07 10:54] valeriocos commented on #41
Yes

Currently, the mapping between the Scava metric name and the QM metric is done manually. The dashboard/ScavaProject can be used to identify the metric name and understand the threshold to set.

I'm not sure I completely understand this sentence.
Given a QM, Prosoul helps the user to map the QM metrics (included in QM attributes, which are in turn included in QM goals) to a list of data metric

[2019-03-07 11:20] borisbaldassari commented on #42
Here is a proposal for the look.. It can (should) be updated as we make progress, depending on the metrics, factoids, plots we can get, but the general idea is there. Please feel free to comment/criticise.

![img_20190307_121243 redimensionne](https://user-images.githubusercontent.com/5849071/53953313-4a47b000-40d3-11e9-8529-eb1ad9707c01.jpg)

[2019-03-07 11:25] borisbaldassari commented on #42
To answer Martin's questions:

Yep, the 'FACTS' section could display both metrics and factoids.. Or they could be put in another section maybe. But it definitely makes sense, yes.

Right, it should be included.
Then I guess that once we have the skeleton (so to speak) it must be easy to slighty change/update the metrics or presentation..

I'm thinking of a plot here, so: "the number of daily (or

[2019-03-07 11:47] borisbaldassari commented on #41
At this point a demo would be useful I guess.. Do you mean that prosoul doesn't retrieve the list of scava metrics automatically? how is the mapping done? Is it graphical, or in a file? Do they have to enter the full ID of the metric one by one and tell prosoul that Scava LOC is Prosoul LOC?

So let's say that I've somehow defined the mapping, saying: ScavaComplexity is linked to ProsoulComplexity

[2019-03-07 13:10] mhow2 commented on #42
Not 100% sure to understand but what I am saying here is :
**1** SCAVA project = **1** mailing list + **1** forum + **1** issue tracker

said differently, It is not possible to assign several sources of **the same kind** to a single project in SCAVA

[2019-03-07 16:35] davidediruscio commented on #41
Yes, I definitely agree. In my opinion, it would be more efficient!

It would be great if @Valerio <valcos@bitergia.com> could prepare
(especially for the use case partners that are interested in dashboards) a
very simple example consisting of the following steps:

- definition of an explanatory QM (e.g., consisting of readability,
changeability, etc.)
- mapping of the QM attributes with metrics c

[2019-03-07 16:51] valeriocos commented on #41
yes, it is @davidediruscio

[2019-03-07 17:43] davidediruscio commented on #31
I would suggest the following:

- showing a message informing that the system is not ready yet ( @BOUDEFFA
Amin <amin.boudeffa@softeam.fr>  what do you think?
- reducing the dumps only to a couple of projects (e.g., json-simple and
someone more) this would give the possibility  to have the platform ready
in a few minutes. @Boris Baldassari <boris.baldassari@castalia.solutions> what
do you think?

[2019-03-07 21:58] davidediruscio commented on #31
Hiho Davide,

That sounds fair and good to me! :-)

Thank you!

--
boris

On 07/03/2019 18:42, Davide Di Ruscio wrote:

--
Boris Baldassari
Castalia Solutions -- Elegant Software Engineering
Web: http://castalia.solutions
Tel: +33 6 48 03 82 89

[2019-03-08 07:27] borisbaldassari commented on #42
Understood.

[2019-03-08 08:04] valeriocos commented on #42
Yes, two PRs containing an initial dashboard for factoids are available:
- https://github.com/crossminer/scava/pull/132
- https://github.com/crossminer/scava-deployment/pull/37

Two PRs containing an initial dashboard for sentiment are available:
- https://github.com/crossminer/scava-deployment/pull/38
- https://github.com/crossminer/scava/pull/118

I'll check what we have in the data and plot som

[2019-03-08 08:11] davidediruscio commented on #42
I don't think this is a blocking issue. Indeed, it can be added as a future
enhancement of the platform, but I would give it a very low priority at
this stage. Does this make sense for our use case providers @Boris
Baldassari <boris.baldassari@gmail.com> @ABHERVE Antonin
<antonin.abherve@softeam.fr> @Marcio Mateus
<marcio.mateus@unparallel.pt> @Gergő
Balogh <gergo.balogh@frontendart.com> @Martin H

[2019-03-08 08:19] mhow2 commented on #42
@davidediruscio : "several sources of the same kind to a single project" issue doesn't look blocking to me in the way we have a workaround. This being said, it could have a significant impact in the long term. I'll open an issue about it in order not to forget.

[2019-03-08 08:22] valeriocos commented on #42
It's not a blocking issue indeed, but this information should be included before the data reaches the dashboards.

[2019-03-08 08:23] borisbaldassari commented on #42
@davidediruscio Same as @mhow2 : not blocking, but useful in real life.. We can do without however for our use case.

[2019-03-08 08:57] mhow2 commented on #42
Just opened https://github.com/crossminer/scava/issues/135 for the record.

[2019-03-08 09:23] ambpro commented on #31
@davidediruscio , I think so. In this context, we can perform this checking in the admin-ui level or we can also work around the problem using a waiting-script for the oss-db when it will be really ready in the docker-compose level.
I 'll take a look on it asap.

[2019-03-13 07:12] borisbaldassari commented on #35
Activated volumes -- However it's not possible AFAICT to set a name for them.

[2019-03-13 07:12] #35 closed

[2019-03-14 12:42] valeriocos commented on #42
@borisbaldassari @mhow2 I attach an initial dashboard derived from the image [above](https://github.com/crossminer/scava-deployment/issues/42#issuecomment-470488717)

The dashboard shows (from left to right, from the top to the bottom):
- the list of last facts
- a pie chart to select a project
- a heat-map of the QM attributes defined with prosoul (this visualization is generated just once and do

[2019-03-25 08:18] mhow2 commented on #31
hi @ambpro : is there any news about it ?

[2019-03-25 08:31] mhow2 opened #44 "ProSoul integration : wrong ES URL"
with the current deployment (from `dev` branch), when trying to access the "edit" section of ProSoul I get the following exception:

[code]
"localhost" in the context of the docker stack and to the prosoul container isn't valid. Eg. ProSoul's container doesn't run ES. I guess the good value could be either the name of the ES container as defined in compose : `elasticsearch` , or the public URL/nam

[2019-03-27 11:41] valeriocos commented on #44
A new image of prosoul is available at https://hub.docker.com/r/bitergia/prosoul

Please @mhow2 could you check if this works for you?
Thanks

Find below the part to be changed in the docker-compose in scava-deployment:
[code]

[2019-03-28 10:03] mhow2 commented on #44
It seems to work ! thanks.

[2019-03-28 10:03] #44 closed

[2019-03-28 15:34] valeriocos commented on #44
Thank you @dlumbrer and @mhow2 . I have just submitted a PR to update the docker-compose:
https://github.com/crossminer/scava-deployment/pull/45

@mhow2 since you have already test it, could you review the PR ?

[2019-04-18 12:52] tdegueul opened #46 "Duplicated API_GATEWAY_VAR"
`API_GATEWAY_VAR` definition is duplicated in:

  - https://github.com/crossminer/scava-deployment/blob/dev/docker-compose-build.yml#L31
  - https://github.com/crossminer/scava-deployment/blob/dev/web-admin/Dockerfile#L4

I guess one of them should be removed?

[2019-04-18 14:38] ambpro commented on #46
Hi @tdegueul ,
AFAIK, the env-var on the docker-compose file takes precedence over that specified on the Dockerfile.
Thus, the variable in the Dockerfile is only used at building time and used as default in case that docker-compose do not defines the variable. To allow users to configure during setup time, we need to allow it in the docker-compose.
This approach will also allow the configuration o

[2019-04-18 14:43] tdegueul commented on #46
From the official documentation, I also understand that docker-compose has precedence over Dockerfile for environment variables.

When the user builds the images locally, the docker-compose variable is used. When the user reuses images that are built remotely (from DockerHub), the docker-compose still has precedence, right?

So shouldn't we remove the `API_GATEWAY_VAR` in `web-admin/Dockerfile` si

[2019-04-18 14:59] ambpro commented on #46
Yes!

The `API_GATEWAY_VAR` in `web-admin/Dockerfile` is used as a backup solution in a generic case either when the image is used in a standalone mode or the somehow the  `API_GATEWAY_VAR`config is missing in the `docker-compose`

[2019-04-18 15:00] tdegueul commented on #46
Ok, the standalone mode sort of makes sense! Thanks for the explanation!

[2019-04-18 15:00] #46 closed

[2019-05-07 08:56] valeriocos opened #49 "Update project dumps in docker-compose"
The dumps available in the docker-compose are not up-to-date and don't reflect the current status of the platform. It could be useful to update the dumps with new fresh data not just for internal testing but also for demo/showcase purposes.

[2019-05-07 09:16] mhow2 opened #50 "prosoul's database gets corrupted when some data are imported to ES"
What I observe is at some point in the workflow, when going to` /prosoul/editor` I get an error 500. And the logs reports `sqlite3.IntegrityError: UNIQUE constraint failed: prosoul_metricdata.id`

See how to reproduce the issue:
- deploy a fresh crossminer stack
- go to `/prosoul/editor`, login in when required. You should see the `edit` view as expected with the three panes (goal, attributes, met

[2019-05-07 09:53] tdegueul commented on #49
+1. We should prepare those asap (thinking about the CM workshop @ ICSE in Montreal at the end of the month, poke @borisbaldassari @phkrief). Imho, it would be enough to have dumps even for short periods (e.g. 1 month), created from a single execution task.

I'll prepare one for Eclipse Epsilon. @mhow2 @ambpro @md2manoppello can you pick a project and do the same?

[2019-05-07 10:53] #50 closed

[2019-05-07 10:55] valeriocos commented on #50
@mhow2 a new version of prosoul is being generated. Once this is done, would you mind check on your side, thanks ?

[2019-05-07 12:42] mhow2 commented on #50
I've deployed the new version, it seems to work !

[2019-05-07 12:50] valeriocos commented on #50
Thank you for the quick feedback @mhow2 and @dlumbrer for the fix.

[2019-05-07 13:03] mhow2 commented on #49
Hi @tdegueul . I'd like to help but for the moment we're stuck with https://github.com/crossminer/scava/issues/198. It seems to be the product of GitHub temporary malfunction and RESTMule exception not being handled correctly.

[2019-05-07 14:33] ambpro commented on #49
Hi all, I will provide an up-to-date project data dump asap.

[2019-05-09 18:51] borisbaldassari commented on #49
@tdegueul +10
yep having a dataset ready for the montreal workshop would be definitely re-assuring and safe! Thanks for asking and caring about that!

[2019-05-16 20:45] blueoly commented on #49
Hello, is anything that can I do in order to incorporate data about docker and puppet metrics in the dumps?
@tdegueul @ambpro

[2019-05-17 10:33] mhow2 commented on #49
@borisbaldassari : I have uploaded a dump on docdokuplm  (2018+ a few months) at https://nextcloud.ow2.org/index.php/s/BEiFSWZYBdEYcRW with all metric enabled.
there is also microprofile but you might already have it.

[2019-05-17 12:02] borisbaldassari commented on #49
@mhow2 thanks! I'm not sure what is implied when importing a dump.. May I not loose all the projects I had before? To be checked..

[2019-05-22 10:48] ambpro commented on #49
@borisbaldassari I pushed two up-to-date projects data dump on http://ci3.castalia.camp/dl/M30/

We could keep the outdated data dump (but it wouldn't be adequate with the current version of the platform: api-refactoring + process analysis updates) alongside the up-to-date once. we just need to update the oss-db Dockerfile to restore the data.

[2019-05-22 11:21] borisbaldassari commented on #49
Hey @ambpro thanks for the new data dump. i'm not sure I understand your point about old data..
1. Obviously the old data dump is not useful anymore.
2. But the data we have computed on our instance recently is consistent and modern and ok, so we want to keep it right?

So could you please tell us / confirm how we can get the new data dumps without losing our recent, consistent set of projects (e.

[2019-05-22 12:01] ambpro commented on #49
@borisbaldassari

Sorry to be unclair

In this case, we have two possibilities:
 * Update the oss-db Dockerfile to add the new data dump projects and rebuild the scava-deployment stack. In this case, we will keep the data dumps (old and new projects), but the current data you have computed on our instance will be losed => KO !
* Import the new data dumps directly into the running oss-db container

[2019-05-22 12:11] ambpro commented on #49
FYI,`mongorestore` will only drop the existing collection if you use the `--drop` argument.

If you don't use `--drop`, all documents will be inserted into the existing collection, unless a document with the same `_id` already exists. Documents with the same `_id` will be skipped, they are not merged. So `mongorestore` will never delete or modify any of the existing data by default.

[2019-06-01 09:55] creat89 opened #63 "Issues deploying docker with local generated metric-platform"
Hello,

Currently I'm trying to test some new features that we are developing on our server. The goal is to use the product generated by my computer using `mvn clean install --DskipTests`. Until not so long, I was aible to do this, as this is how we solved some issues with the indexer connection. But currently, I cannot anymore.

The platform runs perfectly if I donwload the file from Castalia's s

[2019-06-03 09:59] MarcioMateus commented on #63
Hi @creat89, it seems that the loss-app didn't start or crashed. That's why the `api-server` cannot find it. Do you have the crash log for `oss-app`?
You are using the metric platform from which branch? `dev`?

[2019-06-03 10:03] creat89 commented on #63
I am/was using the dev branch. No I didn't observe any other issue. The things is I don't know why the locally built version didn't work but the one pushed and downloaded from Jenkins yes.

[2019-06-03 10:54] creat89 commented on #63
Here is the code of my modified version of the docker file:
[code]

The file `scava-product-linux.gtk.x86_64.zip` that was built by myself it is located next to the dockerfile, so I don't know now why does it break and cannot load correctly the oss-app container.

[2019-06-04 06:44] valeriocos commented on #41
can we close this issue @borisbaldassari @mhow2 @davidediruscio ?

[2019-06-04 07:53] davidediruscio commented on #41
It's good to me. Let's see if it's ok also for our use case providers
@borisbaldassari <https://github.com/borisbaldassari> @mhow2
<https://github.com/mhow2>

Il giorno mar 4 giu 2019 alle ore 08:44 valerio <notifications@github.com>
ha scritto:

--
-------------------------------------------------------------------------------------------------------------
Prof. Davide Di Ruscio
Department of Inf

[2019-06-04 08:02] mhow2 commented on #41
Yes, we can.

[2019-06-12 13:22] blueoly commented on #49
Hello! I have prepared a data dump about Docker and Puppet projects. Where should I upload it?

[2019-06-20 09:32] ambpro commented on #49
Hello @blueoly,

The current update data dumps are available on http://ci3.castalia.camp/dl/M30/. If you don't have already an account on the server, you could upload yours on a hosting service then I'll move them to the ci3 server.

[2019-06-21 09:31] blueoly commented on #49
Hello @ambpro !

Thank you for your help. I had a little talk with Boris and I have already found out what I should do to upload the dump. I had not found time to do it ahead of the closing of the M30 deliverables but I will do it soon.

[2019-07-09 17:22] #49 closed

[2019-07-09 17:22] borisbaldassari commented on #41
Yes, we can (sorry for the delay, didn't see the notification..).

[2019-07-09 17:22] #41 closed

[2019-07-09 17:23] borisbaldassari commented on #31
Is fixed, thanks @ambpro

[2019-07-09 17:23] #31 closed

[2019-07-19 09:02] md2manoppello opened #79 "KB doesn't run"
KB doesn't run because there is a missing configuration value in the application.properties file.

[2019-07-19 09:39] MarcioMateus commented on #79
Probably we need to do a different configuration for the docker deployment. What should `migration.maven.path` point to?

[2019-07-23 14:27] mhow2 opened #81 "setup instance deployment branches (beta, ow2...)"
The idea is to track and share the various docker deployment configuration we have.
I can add our own on a branch `ow2`
And the beta on `beta`

@valeriocos could you help me to push my local configuration to an `ow2` branch ?

[2019-07-24 18:41] valeriocos commented on #81
Sure @mhow2 , have a look at this branch https://github.com/crossminer/scava-deployment/tree/ow2

[2019-07-26 15:22] valeriocos commented on #81
@mhow2 if you are fine with the new `ow2` branch, can we close this issue?

[2019-07-26 15:23] valeriocos commented on #42
If the current dashboards are OK for you all (@mhow2 @borisbaldassari @davidediruscio ), can we close this issue?

[2019-08-01 10:51] md2manoppello opened #84 "Maracas source code"
Hi guys,
In
https://github.com/crossminer/scava-deployment/blob/318b36e6aa7c1cd469bfc68cd271ad59a55e603e/KB/Dockerfile#L10, I implemented a very dirty solution to address the issue https://github.com/crossminer/maracas/issues/35 of maracas.
Do you have an idea about this issue?

[2019-08-01 13:11] MarcioMateus commented on #84
Hi @md2manoppello, probably a better solution is to download the files you need directly from Maracas repository in order to have the latest version of these files whenever we build the `Kb-service` image. This is valid if you always want to latest version of Maracas available (in `master` brach). If you want to bind to a specific version of Maracas, we can keep this implementation.

[2019-08-01 15:46] md2manoppello commented on #84
@MarcioMateus Maracas is written in rascal and it provides a bridge to Java.
Though Maracas is a maven project it needs the "rsc" source code to properly work.
So this code binds to a specific version of Maracas that is stored on my maven public repository (http://archiva.disim.univaq.it).

[2019-08-02 14:52] borisbaldassari commented on #42
Works for me, if I have updates/needs I'll open another issue. So we can close this imho.

[2019-08-05 15:29] #42 closed

[2019-08-12 16:06] valeriocos opened #85 "docker-compose build doesn't work"
Past Friday and today I tried to execute the docker-compose, however when doing `
docker-compose -f docker-compose-build.yml build --no-cache`, I got the following error
[code]

[2019-08-12 16:07] valeriocos commented on #85
@md2manoppello are you having this issue too?

[2019-08-12 16:09] md2manoppello commented on #85
@valeriocos the commit a678687ce4b0562bf8851e8da1c68595bde7eb4e should fix this issue.
Please check it and then close the issue

[2019-08-12 16:29] valeriocos commented on #85
Thanks @md2manoppello for the quick reply. My dev branch was aligned with that commit, I'm going to try again

[2019-08-13 07:12] valeriocos commented on #85
The docker-compose gets blocked on some kb-db actions (after prosoul actions). Nothing (workers, projects, metrics, etc.) is visible on the cockpit UI except for http://localhost:5601/#/home
[code]

@md2manoppello can you check it please?

[2019-08-14 11:41] valeriocos opened #86 "oss-db and elasticsearch containers don't stop automatically"
When stopping the docker-compose the containers `scava-deployment_oss-db_1` and `scava-deployment_elasticsearch_1` don't  stop automatically and they throw an error. These containers must be manually stopped

[code]

Any idea @MarcioMateus @md2manoppello @creat89 ?

EDITED:
I'm using https://github.com/crossminer/scava-deployment/commit/a678687ce4b0562bf8851e8da1c68595bde7eb4e to execute the docke

[2019-08-14 11:48] creat89 commented on #86
I don't think I have seen that error before, but I'll try to check later on our server. @Danny2097, have you seen this error before?

[2019-08-14 11:56] Danny2097 commented on #86
@creat89 / @valeriocos no I have not seen this issue before. The only issue I saw was with the initial start-up of the ES container.

@valeriocos what analysis tasks did you have running prior to this (if any)? Perhaps there is a rogue process preventing it closing?

[2019-08-14 11:56] valeriocos commented on #85
I'm going to close this issue and open a new one, since the problem now is when doing `docker-compose up`

[2019-08-14 11:56] #85 closed

[2019-08-14 12:05] valeriocos commented on #86
None, I did a `docker system prune -a` and checked that no containers were running after.

This issue may be related to another one I'm going to open soon. When doing `docker-compose up`, the platform gets blocked on some kb-db actions (after prosoul actions). Nothing (workers, projects, metrics, etc.) is visible on the cockpit UI except for http://localhost:5601/#/home (plese see https://github.c

[2019-08-14 14:21] valeriocos opened #87 "docker-compose up doesn't work"
As commented at https://github.com/crossminer/scava-deployment/issues/85#issuecomment-520717806, when doing `docker-compose up` the process gets blocked. This situation makes that nothing (workers, projects, metrics, etc.) is visible on the cockpit UI except for http://localhost:5601/#/home, and metrics are not continously imported to Elasticsearch/Kibana (this means that the metrics will be impor

[2019-08-14 15:37] valeriocos commented on #87
I'm leaving the url http://localhost:5601/#/project open, maybe the UI takes time to get updated.

[2019-08-15 12:52] valeriocos commented on #87
I resumed today the analysis of the bug. The dashb-importer was executed just once and the worker is still alive. However nothing was visible on the cockpit UI except for home.

The last trace in the docker-compose log was a message generated by Prosoul. In order to check that Prosoul wasn't causing any error, I stopped the docker-compose, relaunch it and stop the Prosoul container.

The last trac

[2019-08-16 03:19] valeriocos commented on #87
I tried also with the docker-compse in the ow2 branch, and also there the metrics are not continously imported to Elasticsearch/Kibana, and the cockpit UI shows nothing.
I commented the prosoul and dash-importer sections in the docker-compose and now I'm able to see projects in the UI.

The next step is to check what has changed in the docker-compose (of dev/ow2 branch) that is preventing the dash

[2019-08-16 13:30] valeriocos opened #89 "oss-app stucked on org.eclipse.scava.metricprovider.trans.plaintextprocessing.PlainTextProcessingTransMetricProvider"
I'm trying to analyse a the repo https://github.com/chaoss/grimoirelab-perceval. I added a new github token and defined a task which included some metrics to analyse issue tracker. Since this morning the oss-app seems stucked on `org.eclipse.scava.metricprovider.trans.plaintextprocessing.PlainTextProcessingTransMetricProvider`.

I attach the log below:
[code]

Any workarounds to suggest @Danny2097

[2019-08-16 13:32] valeriocos commented on #89
The cockpit UI is freezed too (no projects, workers shown)

![captura_19](https://user-images.githubusercontent.com/6515067/63171055-091cda00-c03b-11e9-9329-49423e566185.png)
![captura_20](https://user-images.githubusercontent.com/6515067/63171059-0ae69d80-c03b-11e9-867a-6f4ace5bd9e4.png)

[2019-08-16 13:47] creat89 commented on #89
Hello @valeriocos,

I don't see any reason for being stuck in the plain text extractor. Do you have any other stack trace? As well, even if the metric is frozen, the UI should still showing elements like the projects and the tasks. Maybe it has something to do with MongoDB, as the metric needs to store information there, and the UI retrieves the data regarding projects from MongoDB. So, maybe Mong

[2019-08-16 14:21] valeriocos commented on #89
maybe, I'll check later, thanks

[2019-08-16 14:22] valeriocos commented on #86
any news on this issue @creat89 , did you have time to check it on your server?

[2019-08-16 15:25] tdegueul commented on #86
On my side, running `dev` commit 35e7d18ac15755752cd3b2414e97b5767523e501 which pulls the image for https://github.com/crossminer/scava/commit/fd85adcb776102d37492c04d0ee55c92b884c54a from Scava:

[code]

Containers stop just fine:

[code]

[2019-08-16 15:31] #79 closed

[2019-08-16 15:55] valeriocos commented on #86
@tdegueul , I'm replicating your steps (the only differences are the option `--volumes` and `--parallel`)

[2019-08-16 16:14] valeriocos commented on #86
closing the issue, after following these steps I didn't get any error, thanks @tdegueul

[2019-08-16 17:08] valeriocos commented on #87
After doing a `docker system prune -a --volumes` I'm not able to replicate the issue. I guess this was the problem

[2019-08-16 17:08] #87 closed

[2019-08-16 21:37] valeriocos commented on #89
I re-did the process, it doesn't stop at the plain text extractor, however the process doesn't finish (at least according to the status task).

These are the steps I did:
[code]

The last `Worker's Heartbeat` happened at 16/08/2019 21:58:31
![captura_25](https://user-images.githubusercontent.com/6515067/63199235-836e4e00-c07d-11e9-8532-2da0c089836c.png)

The containers logs are here:
[logs.zip](ht

[2019-08-16 21:42] valeriocos commented on #86
The issue happened again after following the steps at: https://github.com/crossminer/scava-deployment/issues/89#issuecomment-522159463

[code]

[2019-08-18 11:52] valeriocos commented on #89
I performed the same steps listed at: https://github.com/crossminer/scava-deployment/issues/89#issuecomment-522159463 on https://github.com/chaoss/grimoirelab selecting only docker metrics.

The analysis stopped at 23% percent, and when trying to list the projects, I end up with the same screenshots at: https://github.com/crossminer/scava-deployment/issues/89#issuecomment-522009922

- Containers a

[2019-08-18 13:06] valeriocos commented on #89
I performed the same steps listed at: #89 (comment) on https://gitlab.com/rdgawas/docker-jmeter selecting only docker metrics. The idea is to check whether the error may be related to github fetching processes.

Also in this case the analysis is blocked
- Containers are up and running:
- oss-app logs are clean
- when stopping the docker-compose I got the error reported at: https://github.com/cross

[2019-08-19 09:16] creat89 commented on #89
Hello @valeriocos, sorry for not being replying as fast as expected, but I'm on my holidays. I'll try to check that remotely. However, one of the stack trace seems to be an issue with a metric made by @blueoly, I think.

Checking the stack traces, I'm seeing that the http request comes from either the oss_app container or the api_server. Which, I don't know why we would have two different containe

[2019-08-19 09:24] valeriocos commented on #89
Thank you for answering @creat89 , sorry I didn't know you were on holidays, enjoy :)

@md2manoppello, @tdegueul @MarcioMateus @mhow2 any idea?

[2019-08-19 18:46] MarcioMateus commented on #89
Hello @valeriocossorr for the late reply.  I just returned from holidays.

Regarding to the error while stopping the containers, I already have similar errors (don't know if with these containers or others). Usually, when I see messages like that, I do a `docker-compose down` and then restart the docker engine (when on Mac OS) or restart the machine (when on Linux).

Regarding to the stuck analysi

[2019-08-20 10:30] MarcioMateus commented on #86
I saw similar behaviour when using Docker engine for Mac.

I usually "solve" the problem with a restart of the docker engine. When it doesn't solve the problem, then it is time to run `docker system prune -a --volumes`.

After a quick search, it seems to be related with the "stress" that the containers do on the docker daemon. The solutions proposed are:
- Reduce number of docker containers and/or

[2019-08-20 17:34] valeriocos commented on #89
@MarcioMateus can you tell me the specific where you are running your crossminer instance (ram, disk storage, etc.)? I was thinking that all this problem may be related to a limit on my machine (16GB,  Intel(R) Core(TM) i7-6500U CPU @ 2.50GHz) because I'm not able to see a task analysed there.

[2019-08-20 18:37] MarcioMateus commented on #89
@valeriocos, my machine is similar to yours. Actually, I usually set the max RAM to 10-12 GB on my Docker engine. Again, as I use Mac OS, some behaviours may be different.

But thinking better on the issue, I rarely run all the containers in my machine as it causes a huge strain on my PC and I don't need all of them for our use case. When I need to perform more complete tests (with all the contain

[2019-08-20 21:59] valeriocos commented on #89
Thank you for the info @MarcioMateus .
Are you limiting the RAM with: `sudo docker run -it --memory=”10g” ...` or there are other commands/params I should take into accounts?

I'm now trying to analyse the repo https://github.com/chaoss/grimoirelab with the minimal conf below (I also blocked the population of oss-db with the dumps). Let's see tomorrow :)

[code]

[2019-08-21 07:15] valeriocos commented on #89
The analysis reached 69% but then it's stopped waiting for the token to refresh:
oss-app logs
[code]

I'll restart the docker-compose and see

[2019-08-21 09:55] MarcioMateus commented on #89
Hi @valeriocos, Docker engine for Mac OS comes already with an interface for configure these values
E.g.
![](https://docs.docker.com/docker-for-mac/images/menu/prefs-advanced.png)

But may also exist CLI commands to configure these values on Linux, I don't know.

I think that the command you identified only defines limits for a specific container.

[2019-08-21 13:06] valeriocos commented on #89
Thank you @MarcioMateus for the info.

I was able to get the repo https://github.com/chaoss/grimoirelab analyzed (I have still to check the data in Kibana). The steps I followed are below (I guess I'll add something to the scava-deployment readme):
- use the docker-compose at: https://github.com/crossminer/scava-deployment/issues/89#issuecomment-523211794
- select a limited set of metrics (8)
- se

[2019-08-22 11:06] valeriocos commented on #89
The solution seems to work, it can be summarized with:
- Limit the number of services in docker-compose
- Limit the number of metrics
- Don't queue task analysis (once a task has finished, add a new one)
- In case the task analysis stops, these steps seem to work for me:
    - `docker-compose stop`
    - `docker-compose up`
    - delete task analysis
    - `docker-compose stop`
    - `docker-compo

[2019-08-22 11:49] MarcioMateus commented on #89
Hi @valeriocos . That is a good summary. Let me just add some comments.

I think I never noticed problems with having multiple analysis task in a queue, but I accept the it may consume more resources.

When a task is stuck I perform similar steps, however I usually don't delete the task. I just stop the execution of the task and then start it again and after some seconds the worker starts analysin

[2019-08-22 12:08] valeriocos commented on #89
Thank you @MarcioMateus for the info. I'm going to submit a PR to update the scava-deployment readme (taking into account also your feedback)

[2019-08-22 18:59] creat89 commented on #89
I guess it should be interesting and helpful to detected which metrics use a lot of ram and document them. In order to set a minimum of ram that should be use if all the metrics want to be used.

[2019-08-24 17:44] borisbaldassari opened #93 "Remove docker-compose using dockerhub images"
Since the docker-compose file must be edited before being build they cannot be built automatically anymore. As a consequence the docker hub images have not been updated for a long time, and the docker-compose-dockerhub.yml file should be deleted from the repository.

[2019-08-28 10:05] valeriocos opened #94 "[feedback] Getting repos analysed"
As suggested by @phkrief , the idea of this issue is to share the experience when analysing projects with CROSSMINER, and trigger discussions to identify possible bugs/limitations on the platform. This issue is related to:
- https://github.com/crossminer/scava-deployment/issues/89
- https://github.com/crossminer/scava-deployment/issues/87
- https://github.com/crossminer/scava/issues/338
- https://

[2019-08-28 10:25] tdegueul commented on #94
Hi @valeriocos, thanks for the feedback.

We are well-aware of issues regarding performance and memory consumption for large projects with some Rascal metrics (mostly dependencies + API-related ones). I started to push some fixes that make the situation better (https://github.com/usethesource/rascal/commit/78e0b60ada48a2ce249c90d491ee0b029ccb0037) and will continue in this direction. I'm hopeful w

[2019-08-28 10:27] valeriocos commented on #94
Thank you @tdegueul for the quick reply!

[2019-08-29 15:37] borisbaldassari commented on #94
Thanks a lot @valeriocos for the feedback and the hints.

I've also gathered some information in #338 (submitted in the scava repo [1]). Regarding performance I often have a huge load on the server (I've seen a load of 192 the other day, I didn't even know it could go that high! ;-) and the computations take a lot of time..

[1] https://github.com/crossminer/scava/issues/338

I've setup several wo

[2019-08-29 15:54] borisbaldassari opened #95 "Additional workers won't show up"
As mentioned in the documentation and docker-compose file, I've setup multiple oss-slaves containers to parallelize computations. The docker-compose file is attached to this issue.

In the Admin / Workers page only 3 workers are displayed, one of them useless (worker1). Only two of them seem to be working (w1 and w5). Note that I don't know if the others (w2 > w4) are actually active or not, but t

[2019-08-29 15:55] borisbaldassari commented on #95
Here is the list of workers as seen in the web ui.

![Capture du 2019-08-29 17-50-16](https://user-images.githubusercontent.com/5849071/63956097-1cda2e80-ca86-11e9-855a-a4f52cc2d1d0.png)

[docker-compose-build.txt](https://github.com/crossminer/scava-deployment/files/3556416/docker-compose-build.txt)

[2019-08-31 15:47] borisbaldassari commented on #95
After a down/up the workers all come back in the UI.. If I don't get it again in the upcoming days i'll close the issue as not reproducible..

[2019-09-02 12:29] #81 closed

[2019-09-10 11:18] borisbaldassari opened #98 "Update oss Dockerfile to use M30 builds"
See issue [#344 in scava](https://github.com/crossminer/scava/issues/344) for more information.

[2019-09-10 11:19] borisbaldassari commented on #98
Fixed in 8857002

[2019-09-10 12:18] borisbaldassari commented on #98
@ambpro actually I don't see anything in the projects list after the change.. I may have done something wrong, could you please have a look and double-check?

[2019-09-10 12:20] borisbaldassari commented on #98
@ambpro Fixed in 6d9b16d.

[2019-09-10 12:21] #98 closed

[2019-09-10 12:23] tdegueul commented on #93
Nice. Does this mean we can rename `docker-compose-build.yml` to `docker-compose.yml` to avoid having to specify it every time on the command line? ;)

[2019-09-10 13:28] borisbaldassari commented on #93
Yep. I'll do that asap. :-D

[2019-09-10 13:33] borisbaldassari commented on #93
Done. :-)

[2019-09-10 13:33] #93 closed

[2019-09-10 13:35] borisbaldassari opened #99 "Merge to master?"
We have a quite stable build here, maybe we could merge to master.. WDYT?
Please vote in here and I'll do the merge when we have 3 thumbs up. :-)

[2019-09-10 13:39] mhow2 commented on #99
What build are you thinking ?

[2019-09-10 13:42] tdegueul commented on #99
Merging `dev` into `master`. There's just nothing in the master `master` branch currently so that's just a free merge.

[2019-09-10 13:43] mhow2 commented on #99
OK, I realize that I am in scava-deployment... not scava. Well you have my thumb up. Anyway I'm using the `ow2` branch for the docker deployment so I'll merge the changes whenever it's needed.

[2019-09-10 13:45] tdegueul commented on #99
Done.

[2019-09-10 13:45] #99 closed

[2019-09-12 06:43] borisbaldassari commented on #99
Thanks @tdegueul! :-)

[2019-09-13 18:07] md2manoppello opened #104 "KB access token is revoked"
https://github.com/crossminer/scava-deployment/blob/da805826b7c1c62fa91a582f4d8751f64b381127/KB/application.properties#L14

Hi @MarcioMateus , the KB token is no longer available because of GitHub policies:

As a precautionary measure, we have revoked the OAuth token. A new token will need to be generated in order to continue using OAuth to authenticate to GitHub. Here are a couple of steps you ca

[2019-09-16 09:45] MarcioMateus commented on #104
Hi @md2manoppello, as I see it the user should provided the GitHub token whenever they want to add a new project. That token will be used to get information about the project. So the API for adding new projects should request the token.

Does it make any sense to you?

[2019-09-16 10:15] mhow2 opened #105 "duplicate parameters in ES command line"
If I `ps aux` into the ES container, I see:
[code]
Where you can see that Xmx/Xms is mentioned two times. (I wonder which value is taken into account). We need this fixed because we seems to reach a point where we need to raise the memory settings. flag @valeriocos

[2019-09-16 10:18] md2manoppello commented on #104
Thanks @MarcioMateus, it should work! I'll add the GitHub token as parameter to the add project resource.

[2019-09-17 07:35] mhow2 commented on #105
I found the source of the problem.
In the container, there is `/elasticsearch/bin/elasticsearch` which mentions:

[code]

So in the file `/elasticsearch/config/jvm.options` , the following options should be commented out as suggested above:

[code]

[2019-09-17 08:55] valeriocos commented on #105
Thank you @mhow2 for pointing this out. The current values of Jvm can be found at:
https://scava-dev.ow2.org:9200/_nodes/stats/jvm (e.g., `heap_max_in_bytes`).

From there, it's possible to see that the params defined at https://github.com/crossminer/scava-deployment/blob/dev/docker-compose.yml#L148 are used (instead of the default ones).

[2019-09-22 13:36] valeriocos commented on #105
@mhow2 if you are OK with the answer, can we close this issue?

[2019-09-23 10:43] mhow2 opened #106 "curl's missing in dashboard image"
@MarcioMateus , since you have switched to the slim version of the python image, curl is not included , as you see at   https://github.com/crossminer/scava-deployment/blob/62a9acbc0fc358b9739a41e3a33773de521dc68c/dashboard/starter.sh#L10

[2019-09-23 14:28] MarcioMateus commented on #106
Hi @mhow2 . Thanks for spotting the problem (and the solution). I did a commit (https://github.com/crossminer/scava-deployment/commit/869f39722a2a3867508b5ea67f10a875be085191) to fix it.

[2019-09-26 12:28] borisbaldassari commented on #95
As mentioned, still an issue.

[2019-09-26 13:28] md2manoppello commented on #104
The token is no longer necessary. Now the add project resource takes GitHub token as a parameter.

[2019-09-26 13:28] #104 closed

[2019-09-26 14:33] borisbaldassari commented on #95
docker stop / start did the trick.

[2019-09-26 14:45] MarcioMateus commented on #95
Hi @borisbaldassari . Can you connect to the `oss-db` and check the number of workers in the collection `workers` on the `scava-analysis` database?

On that collection you can check the number workers, their heartbeat and if they are executing any task.

[2019-09-26 14:50] borisbaldassari commented on #95
Hi @MarcioMateus
Thank you for your interest. Do you have the required commands to do that at reach? I'm not a mongo guy, that would help. Otherwise I'm going to google that before re-initialising the instance..

[2019-09-26 14:56] MarcioMateus commented on #95
No problem @borisbaldassari .

I use the client [Robo 3T](https://robomongo.org/download) to connect to the DB. Just create a connection to the <host> running the docker deployment and to the <port> exposed by `oss-db` and you should see the databases on the mongodb instance.

[2019-09-26 15:02] borisbaldassari commented on #95
thanks @MarcioMateus . Well, this is happening on ci4 and it's not an easy, local connection. I'll figure that out, and check the workers. Thanks for the help!

[2019-09-26 15:07] borisbaldassari opened #107 "Dashboard: Request to Elasticsearch failed"
After having to stop / start the docker images to solve the task stuck and then for the workers not showing up, the dashboard doesn't work anymore: no list of projects, no data, excepted for the two default projects: microprofile and MeasurePlatform.

![Capture du 2019-09-26 17-05-55](https://user-images.githubusercontent.com/5849071/65700477-11c3ef80-e080-11e9-9434-4d2dd2d50a1b.png)
![Capture du

[2019-09-26 15:13] creat89 commented on #107
@borisbaldassari could you share all the error by clicking in more info?

[2019-09-26 15:20] valeriocos commented on #107
@borisbaldassari can you share the CROSSMINER instance url, thanks.

[2019-09-26 16:44] borisbaldassari commented on #107
Hi @creat89 , @valeriocos ,

Sorry but I can't click now -- I had to clear, update, and restart the instance to get the latest fixes and make some progress on our analysis tasks.. If that happens again I'll do it before anything else, I swear. ;-)

As for the instance it's all happening at the ci4 instance: \
http://ci4.castalia.camp:5600/

I'll let you know if/when that occurs again. Thanks for y

[2019-09-26 18:11] borisbaldassari commented on #107
Just happened again:

[code]

[2019-09-27 06:04] valeriocos commented on #107
thank you for the pointers @borisbaldassari, I'll have a look today

[2019-09-27 07:36] valeriocos commented on #107
It seems some shards are not in good shape: https://ci4.castalia.camp:9200/_cluster/health/?level=shards. This affects also the indexes: https://ci4.castalia.camp:9200/_cat/indices (check the indexes with the red label)

Can you try to give more resources to elasticsearch by increasing the values at:https://github.com/crossminer/scava-deployment/blob/dev/docker-compose.yml#L162 ? thanks

[2019-09-27 15:51] valeriocos commented on #107
The PR https://github.com/crossminer/scava/pull/377 should improve the performance of moving data between the API and ES

Please @borisbaldassari you could update the dashimporter container and report if the error is solved on your side?

[2019-09-27 18:01] borisbaldassari commented on #107
Hi @valeriocos thanks for the update. I did as recommended, stopped the importer container, rebuilt the dashboard image, changed the java args values and restarted the whole thing (docker-compose start).

I guess that the other containers have not been stopped doing that (the instance is doing some intensive computation on the set of projects after I re-initialised the platform yesterday) and I ho

[2019-09-27 18:03] borisbaldassari commented on #107
(sob ;-)

![Capture du 2019-09-27 20-02-47](https://user-images.githubusercontent.com/5849071/65791362-d568c000-e161-11e9-8765-c1eeacc1cad0.png)

[2019-09-28 06:20] valeriocos commented on #107
Sorry for the late reply @borisbaldassari

We can try the following:

- If you have some intense calculation going on (maybe related to the task analysis), you can comment the sections **kibiter**, **prosoul** and **dash-importer** in the [docker-compose](https://github.com/crossminer/scava-deployment/blob/master/docker-compose.yml), then do a **docker-compose stop** and **docker-compose up**. Whe

[2019-09-28 11:32] borisbaldassari commented on #107
Hi @valeriocos ,

The dashboards now are empty, see screenshot.

![Firefox_Screenshot_2019-09-28T11-25-47 676Z](https://user-images.githubusercontent.com/5849071/65815809-67b9a400-e1f4-11e9-8fd7-6db0a06101ae.png)

To answer some of your questions:

* Waiting for the projects analysis to be completed will take days. Well, a bit less since most projects are now in error (see other issues) but it wil

[2019-09-28 14:51] valeriocos commented on #107
Thank you for the clarifications @borisbaldassari

I enter to the project page and check the status or the progress bar (http://ci4.castalia.camp:5601/#/project/configure/technologyscout)

After some attempts, it seems that settings the [bulk_size](https://github.com/crossminer/scava-deployment/blob/dev/docker-compose.yml#L195) to `50` works fine (see log below). I'm uploading the data to crossmin

[2019-09-29 07:38] valeriocos commented on #107
The process is still ongoing, but no errors appeared:
[code]

[2019-09-30 06:49] valeriocos commented on #107
http://ci4.castalia.camp:8182 is not available, the importer stopped at `technologymdmbl`

[2019-09-30 10:00] borisbaldassari commented on #107
@valeriocos Yeah again: no more projects, no more workers, ...
Now I need to focus on my own tasks (use case + deliverable) so I'll just let it go and hope that it automagically works again by itself. If not, I'll update it when I have some time. ;-)

[2019-09-30 10:28] valeriocos commented on #107
ok! good luck!

[2019-09-30 14:16] tdegueul commented on #107
Unfortunately, it might be the issue, cf.
https://github.com/crossminer/scava/issues/390#issuecomment-536579489. It seems that the container's volume size is set to 10GB, and I can't find a way to specify another value in the `docker-compose`/`Dockerfile`.

[2019-09-30 15:33] #106 closed

[2019-09-30 15:50] MarcioMateus opened #108 "Workaround for the storage limit on `oss-app`"
The Docker storage limit imposed by the `Overlay2` storage driver seems to be the cause of several issues: https://github.com/crossminer/scava-deployment/issues/107, https://github.com/crossminer/scava/issues/390.

One possible solution is to change the storage-driver to `devicemanager` and configure a new max limits in the Docker engine. This change would affect all the Docker running on the mach

[2019-09-30 15:56] mhow2 commented on #108
I would opt for the second solution.
Can you inform what's the current overlay2 limit ?

[2019-09-30 16:16] MarcioMateus commented on #108
It seems to be 10 GB

[2019-09-30 16:25] MarcioMateus commented on #108
It seems that the `container:/ossmeter/git` is not the main culprit for the storage consumption.

`container:/root/` is using 6GB on the `oss-app` running at http://ci4.castalia.camp. Scava seems to be storing a lot of data there.

[2019-09-30 17:36] MarcioMateus commented on #108
https://github.com/crossminer/scava-deployment/commit/10f52ac0ce0b1abec3ae6329cb3a1a171b88afb1 implements the second approach

[2019-10-01 15:53] creat89 opened #109 "Bad credentials problem CROSSMINER UI"
Hello,

I don't know why but the UI doesn't accept the credentials to login. I have never had this issue before, but currently I'm using a deployment on Windows, rather than on Linux (our server has an internet problem).

The admin-webapp_1 returns this:

[code]

Any idea of what could be happening? I check the previous issues, but in theory they were fixed, so, I guess it has something to do with

[2019-10-01 19:42] tdegueul commented on #109
Just a wild guess because this has happened to me many times: you need to make sure that you've customized the `API_GATEWAY_VAR` in https://github.com/crossminer/scava-deployment/blob/master/web-admin/Dockerfile and https://github.com/crossminer/scava-deployment/blob/master/docker-compose.yml.

You can check if this is the issue by making sure the request is sent to the right place when you click

[2019-10-01 19:44] creat89 commented on #109
Thanks!! I'm pretty sure I forgot the port in the API GATEWAY VAR because I deleted all the IP that I was using i our server. I'll close the issue for the moment.

[2019-10-01 19:44] #109 closed

[2019-11-06 15:20] valeriocos commented on #105
ping @mhow2